.product-card {

    img {
        aspect-ratio: 1;
        object-fit: contain;
    }

    .card-title, .card-text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow: hidden;
    }
}